.fb-video{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #757575;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}