<div class="soundtrack">
    <p>
        In June 2016, Alan Silvestri, who composed the score for The Avengers, was revealed to be returning to score both Infinity War and Endgame.[2] Discussing the tone of the film, Silvestri said that the Russos wanted it to be "operatic" for both films, with Endgame needing an "aggressive musical approach".[3] He stated that he found the film's pace to be "invigorating, after having thunderous percussion and powerful brass propelling the massive battle sequences".
    </p>
    <iframe src="https://open.spotify.com/embed/album/6r4Vfnoifx2CLiTKCaKji8" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>